body
{
    background: #101010;
    overflow: hidden;
}

.navbar
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 6vh;
}


.navbar .title
{
    position: absolute;
    width: 12.5vw;
    height: 6vh;
    background: #212121;
}

.navbar .title h2
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.pages
{
    position: absolute;
    top: 0;
    left: 12.5vw;
    width: 87.5vw;
    height: 6vh;
    display: flex;
    background: #262626;
    color: white;
    justify-content: right;
    align-items: center;
}

.pages h3
{
    float: right;
    text-align: center;
    cursor: pointer;
    margin-right: 3vw;
}

.currentPage
{
    color: #0d6efd;
}

.pages h3:hover
{
    color: #0d6efd;
}


#ttsPage .menu
{
    position: absolute;
    top: 6vh;
    left: 0;
    width: 12.5vw;
    height: 100vh;
    background: #262626;
}

#ttsPage .buttons
{
    position: relative;
    width: 12.5vw;
    padding: 1vw;
}

#ttsPage .buttons button
{
    width: 100%;
    margin-bottom: 1vh;
}


#ttsPage .settings
{
    position: relative;
    width: 12.5vw;
    padding: 1vw;
}

#ttsPage button
{
    width: 100%;
    margin-bottom: 1vh;
}

#ttsPage #voiceList
{
    width: 100%;
    margin-bottom: 1vh;
}

#ttsPage .volumeSettings
{
    color: white;
}

#ttsPage .volumeSettings label, .volumeSettings input
{
    width: 100%;
}


#ttsPage .excludeSettings
{
    position: relative;
    width: 12.5vw;
    padding: 1vw;
    color: white;
}

#ttsPage .excludeSettings input, .excludeSettings button
{
    margin-bottom: 1vh;
}


#ttsPage #excludedList
{
    position: relative;
    width: 12.5vw;
    height: 50vh;
    overflow-y: scroll;
    padding: 1vw;
}

#ttsPage #excludedList button
{
    width: 100%;
}


#ttsPage #messageList
{
    position: absolute;
    top: 7vh;
    left: 12.5vw;
    height: 93vh;
    width: 87.5vw;
    padding: 1vw;
    overflow-y: scroll;
    color: white;
}


::-webkit-scrollbar
{
    width: 0.5vw;
}

::-webkit-scrollbar-track
{
    background: #10101000; 
}

::-webkit-scrollbar-thumb
{
    background: #383838;
    border-radius: 1vw;
}

::-webkit-scrollbar-thumb:hover
{
    background: #595959; 
}





#srPage #player
{
    position: absolute;
    right: 10vw;
    top: 50%;
    transform: translate(0, -50%);
}

#srPage #songs
{
    overflow-y: scroll;
}